<div class="position-sticky pt-3">
    <div style="display:flex; flex-direction: row;align-items:center;">
        <img style="width:50px; height:50px;" src="{{ url_for('static', filename='images/prufia.png') }}" alt="logo">
        <div class="title">
            <span class="pr">PR</span><span class="ufia">UFIA</span>
        </div>
    </div>
    
    <ul class="nav flex-column admin-nav" >
        <li class="nav-item">
            <a class="nav-link" onclick="loadContent('/semesters')">
                <i class="bi bi-diagram-3"></i> Semesters
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" onclick="loadContent('/passcode')">
                <i class="bi bi-key"></i> Passcode
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="loadContent('/users')">
                <i class="bi bi-people"></i> Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="loadContent('/data')">
                <i class="bi bi-database"></i> Submissions
            </a>
        </li>
    </ul>
</div>